# scitex-notification environment variables
SCITEX_NOTIFICATION_DEBUG_MODE=0
SCITEX_NOTIFICATION_DEFAULT_BACKEND=audio
SCITEX_NOTIFICATION_TWILIO_SID=
SCITEX_NOTIFICATION_TWILIO_TOKEN=
SCITEX_NOTIFICATION_TWILIO_FROM=
SCITEX_NOTIFICATION_TWILIO_TO=
SCITEX_NOTIFICATION_TWILIO_FLOW=
SCITEX_NOTIFICATION_PHONE_CALL_N_REPEAT=1
SCITEX_NOTIFICATION_EMAIL_TO=
SCITEX_NOTIFICATION_EMAIL_FROM=no-reply@scitex.ai
SCITEX_NOTIFICATION_EMAIL_PASSWORD=
SCITEX_NOTIFICATION_EMAIL_SMTP_HOST=smtp.gmail.com
SCITEX_NOTIFICATION_EMAIL_SMTP_PORT=587
SCITEX_NOTIFICATION_WEBHOOK_URL=
SCITEX_NOTIFICATION_CONFIG=
SCITEX_NOTIFICATION_ENV_SRC=
